USE [DEXUATAMTHUC]
GO
/****** Object:  UserDefinedFunction [dbo].[CHECK_ACTION_USER]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CHECK_ACTION_USER] (
    @userID INT,
    @mealID INT,
    @actionType INT -- 1 là yêu thích, 0 là lưu
)
RETURNS INT
AS
BEGIN
    DECLARE @result INT;

    -- Kiểm tra xem có hành động nào tương ứng không
    SELECT @result = COUNT(*)
    FROM DS_YEUTHICH
    WHERE ID_ND = @userID AND IDMON = @mealID AND TRANGTHAI = @actionType;

    RETURN @result;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[CHECK_LIKEORSAVE]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CHECK_LIKEORSAVE]
(
	@ID_ND INT,
	@IDMON INT,
	@HANHDONG BIT
)
RETURNS INT
AS
BEGIN
	DECLARE @result INT;

	-- Kiểm tra xem đã có dữ liệu trong bảng DS_YEUTHICH chưa
	IF EXISTS (SELECT 1 FROM DS_YEUTHICH WHERE ID_ND = @ID_ND AND IDMON = @IDMON AND HANHDONG = @HANHDONG)
	BEGIN
		-- Nếu có, trả về giá trị 1
		SET @result = 1;
	END
	ELSE
	BEGIN
		-- Nếu không có, trả về giá trị 0
		SET @result = 0;
	END

	RETURN @result;
END

GO
/****** Object:  UserDefinedFunction [dbo].[CheckUserAction]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CheckUserAction](
    @userID INT,
    @mealID INT
)
RETURNS BIT
AS
BEGIN
    DECLARE @hasAction BIT;

    SELECT @hasAction = CASE 
        WHEN EXISTS (
            SELECT 1
            FROM DS_yeuthich
            WHERE ID_ND = @userID AND IDMON = @mealID
        ) THEN 1
        ELSE 0
    END;

    RETURN @hasAction;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[CountUserViews]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CountUserViews] (
    @userID INT,
    @mealID INT,
	@actionType bit
)
RETURNS INT
AS
BEGIN
    DECLARE @result INT;

    -- Đếm số lần xem món ăn
    SELECT @result = COUNT(*)
    FROM DL_HANHDONG
    WHERE ID_ND = @userID AND IDMON = @mealID AND HANHDONG = @actionType; -- Giả sử 1 là hành động xem,0 là tìm kiếm

    RETURN @result;
END;
GO
/****** Object:  Table [dbo].[BUOCLAM]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUOCLAM](
	[IDBUOCLAM] [int] IDENTITY(1,1) NOT NULL,
	[TENBUOC] [nvarchar](10) NULL,
 CONSTRAINT [PK_BUOCLAM] PRIMARY KEY CLUSTERED 
(
	[IDBUOCLAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONGTHUC]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTHUC](
	[IDCONGTHUC] [nvarchar](15) NOT NULL,
	[THOIGIANNAU] [time](7) NOT NULL,
	[DOKHO] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__CONGTHUC__51B15609D11FFACE] PRIMARY KEY CLUSTERED 
(
	[IDCONGTHUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_BUOCLAM]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BUOCLAM](
	[IDCONGTHUC] [nvarchar](15) NOT NULL,
	[IDBUOCLAM] [int] NOT NULL,
	[MOTA] [ntext] NULL,
 CONSTRAINT [PK_BUOCLAM1] PRIMARY KEY CLUSTERED 
(
	[IDCONGTHUC] ASC,
	[IDBUOCLAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_CONGTHUC]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_CONGTHUC](
	[IDCONGTHUC] [nvarchar](15) NOT NULL,
	[IDNGUYENLIEU] [int] NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK__CT_CONGT__A8D3C1A89325F8B7] PRIMARY KEY CLUSTERED 
(
	[IDCONGTHUC] ASC,
	[IDNGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DL_HANHDONG]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DL_HANHDONG](
	[ID_ND] [int] NOT NULL,
	[IDMON] [int] NOT NULL,
	[HANHDONG] [bit] NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
 CONSTRAINT [PK_DSHANHDONG] PRIMARY KEY CLUSTERED 
(
	[ID_ND] ASC,
	[IDMON] ASC,
	[HANHDONG] ASC,
	[THOIGIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONVI]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVI](
	[IDDONVI] [int] IDENTITY(1,1) NOT NULL,
	[TENDONVI] [nvarchar](5) NULL,
 CONSTRAINT [PK__DONVI__76A581AD3C6845C5] PRIMARY KEY CLUSTERED 
(
	[IDDONVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DS_YEUTHICH]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DS_YEUTHICH](
	[ID_ND] [int] NOT NULL,
	[IDMON] [int] NOT NULL,
	[TRANGTHAI] [bit] NULL,
	[HANHDONG] [bit] NOT NULL,
 CONSTRAINT [PK_DL_YEUTHICH] PRIMARY KEY CLUSTERED 
(
	[ID_ND] ASC,
	[IDMON] ASC,
	[HANHDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIMON]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMON](
	[IDLOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK__LOAIMON__2F633F230DA028DA] PRIMARY KEY CLUSTERED 
(
	[IDLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONAN](
	[IDMON] [int] IDENTITY(1,1) NOT NULL,
	[TENMON] [nvarchar](50) NULL,
	[HINHANH] [nvarchar](30) NULL,
	[MOTA] [nvarchar](100) NULL,
	[IDLOAI] [int] NULL,
	[ID_ND] [int] NULL,
	[IDCONGTHUC] [nvarchar](15) NULL,
 CONSTRAINT [PK__MONAN__7B73E985D70C8045] PRIMARY KEY CLUSTERED 
(
	[IDMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[IDNGUYENLIEU] [int] IDENTITY(1,1) NOT NULL,
	[TENNGUYENLIEU] [nvarchar](50) NULL,
	[IDDONVI] [int] NULL,
 CONSTRAINT [PK__NGUYENLI__9BD3E01D4561451D] PRIMARY KEY CLUSTERED 
(
	[IDNGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID_ND] [int] IDENTITY(1,1) NOT NULL,
	[TENND] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](20) NOT NULL,
	[TRANGTHAI] [bit] NULL,
	[IDVT] [int] NULL,
 CONSTRAINT [PK__USERS__603F510685947A16] PRIMARY KEY CLUSTERED 
(
	[ID_ND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[IDVT] [int] IDENTITY(1,1) NOT NULL,
	[MOTA] [nvarchar](20) NULL,
	[TENVT] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_VAITRO] PRIMARY KEY CLUSTERED 
(
	[IDVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CT_BUOCLAM]  WITH CHECK ADD  CONSTRAINT [FK_BUOCLAM1] FOREIGN KEY([IDBUOCLAM])
REFERENCES [dbo].[BUOCLAM] ([IDBUOCLAM])
GO
ALTER TABLE [dbo].[CT_BUOCLAM] CHECK CONSTRAINT [FK_BUOCLAM1]
GO
ALTER TABLE [dbo].[CT_BUOCLAM]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_BL] FOREIGN KEY([IDCONGTHUC])
REFERENCES [dbo].[CONGTHUC] ([IDCONGTHUC])
GO
ALTER TABLE [dbo].[CT_BUOCLAM] CHECK CONSTRAINT [FK_CONGTHUC_BL]
GO
ALTER TABLE [dbo].[CT_CONGTHUC]  WITH CHECK ADD  CONSTRAINT [FK__CT_CONGTHUC_CONGTHUC] FOREIGN KEY([IDCONGTHUC])
REFERENCES [dbo].[CONGTHUC] ([IDCONGTHUC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_CONGTHUC] CHECK CONSTRAINT [FK__CT_CONGTHUC_CONGTHUC]
GO
ALTER TABLE [dbo].[DL_HANHDONG]  WITH CHECK ADD  CONSTRAINT [FK_HANHDONG_MONAN] FOREIGN KEY([IDMON])
REFERENCES [dbo].[MONAN] ([IDMON])
GO
ALTER TABLE [dbo].[DL_HANHDONG] CHECK CONSTRAINT [FK_HANHDONG_MONAN]
GO
ALTER TABLE [dbo].[DL_HANHDONG]  WITH CHECK ADD  CONSTRAINT [FK_HANHDONG_ND] FOREIGN KEY([ID_ND])
REFERENCES [dbo].[USERS] ([ID_ND])
GO
ALTER TABLE [dbo].[DL_HANHDONG] CHECK CONSTRAINT [FK_HANHDONG_ND]
GO
ALTER TABLE [dbo].[DS_YEUTHICH]  WITH CHECK ADD  CONSTRAINT [FK_YEUTHICH_MONAN] FOREIGN KEY([IDMON])
REFERENCES [dbo].[MONAN] ([IDMON])
GO
ALTER TABLE [dbo].[DS_YEUTHICH] CHECK CONSTRAINT [FK_YEUTHICH_MONAN]
GO
ALTER TABLE [dbo].[DS_YEUTHICH]  WITH CHECK ADD  CONSTRAINT [FK_YEUTHICH_ND] FOREIGN KEY([ID_ND])
REFERENCES [dbo].[USERS] ([ID_ND])
GO
ALTER TABLE [dbo].[DS_YEUTHICH] CHECK CONSTRAINT [FK_YEUTHICH_ND]
GO
ALTER TABLE [dbo].[MONAN]  WITH CHECK ADD  CONSTRAINT [CONGTHUC_MONAN] FOREIGN KEY([IDCONGTHUC])
REFERENCES [dbo].[CONGTHUC] ([IDCONGTHUC])
GO
ALTER TABLE [dbo].[MONAN] CHECK CONSTRAINT [CONGTHUC_MONAN]
GO
ALTER TABLE [dbo].[NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK__NGUYENLIEU_DONVI] FOREIGN KEY([IDDONVI])
REFERENCES [dbo].[DONVI] ([IDDONVI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NGUYENLIEU] CHECK CONSTRAINT [FK__NGUYENLIEU_DONVI]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_VAITRO] FOREIGN KEY([IDVT])
REFERENCES [dbo].[VAITRO] ([IDVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_VAITRO]
GO
/****** Object:  StoredProcedure [dbo].[DELETE_MEAL]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_MEAL]
    @IDMON INT
AS
BEGIN
    BEGIN TRY
        DECLARE @IDCONGTHUC NVARCHAR(15) = (SELECT IDCONGTHUC FROM MONAN WHERE IDMON = @IDMON)

        -- Bắt đầu giao dịch
        BEGIN TRANSACTION;

        -- Xoá dữ liệu từ bảng DL_YEUTHICH
        DELETE FROM DS_YEUTHICH WHERE IDMON = @IDMON;

        -- Xoá dữ liệu từ bảng DL_HANHDONG
        DELETE FROM DL_HANHDONG WHERE IDMON = @IDMON;

        -- Xoá dữ liệu từ bảng MONAN
        DELETE FROM MONAN WHERE IDMON = @IDMON;

        -- Xoá dữ liệu từ bảng CT_CONGTHUC
        DELETE FROM CT_CONGTHUC WHERE CT_CONGTHUC.IDCONGTHUC = @IDCONGTHUC;

        -- Xoá dữ liệu từ bảng CT_BUOCLAM
        DELETE FROM CT_BUOCLAM WHERE CT_BUOCLAM.IDCONGTHUC = @IDCONGTHUC;

        -- Xoá dữ liệu từ bảng CONGTHUC
        DELETE FROM CONGTHUC WHERE CONGTHUC.IDCONGTHUC = @IDCONGTHUC;

        -- Kết thúc giao dịch (lưu thay đổi)
        COMMIT;
    END TRY
    BEGIN CATCH
        -- Nếu có lỗi, rollback giao dịch
        ROLLBACK;

        -- In thông báo lỗi và ném lại lỗi
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[GETALLNGUYENLIEU]    Script Date: 11/4/2023 18:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETALLNGUYENLIEU]
	@IDMONAN INT
AS
BEGIN
	SELECT NL.IDNGUYENLIEU,NL.TENNGUYENLIEU,CTC.SOLUONG,DV.TENDONVI
FROM MONAN MA
JOIN CONGTHUC CT ON MA.IDCONGTHUC = CT.IDCONGTHUC
JOIN CT_CONGTHUC CTC ON CT.IDCONGTHUC = CTC.IDCONGTHUC
JOIN NGUYENLIEU NL ON CTC.IDNGUYENLIEU = NL.IDNGUYENLIEU
JOIN DONVI DV ON DV.IDDONVI = NL.IDDONVI
WHERE MA.IDMON = @IDMONAN;
END

GO
